/*
lighter gray: #323D54;
darker gray: #1A202C;
darker darker gray: #181d26;
blue: #1E90FF;
gray: #E3E3E3;
cyan: #23E8FA;
*/

/* GENERAL */
:root {
    --body_bg_color: #181d26;
    --header_bg_color: #323d54;
    --q_bg_color: #1a202c;
    --shadow: 0px 0px 20px 2px black;
    --text_color: #e3e3e3;
}

*,
*::after,
*::before {
    color: var(--text_color);
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    padding: 15px;
}
a {
    text-decoration: none;
}
h1 {
}
h2 {
    font-size: 1.3rem;
    font-weight: 200;
    padding: 20px;
    color: #1e90ff;
}
h3 {
    font-size: 1.1rem;
    font-weight: 200;
    padding: 15px;
}

/* BODY */
body {
    height: 100vh;
    width: 100%;
    background-color: var(--body_bg_color);
}

/* HEADER */
header {
    min-height: 75px;
    background-color: var(--header_bg_color);
    position: relative;
    display: flex;
    align-content: center;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    z-index: 100;
}
header > a img {
    height: 50px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 20%;
}
header ul {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}
header ul a {
    position: relative;
}
header ul li a::before {
    content: "";
    position: absolute;
    background-color: var(--text_color);
    height: 0.07rem;
    width: 0;
    left: 50%;
    bottom: 0px;
    transition: 0.3s;
}
header ul li a:hover::before {
    width: 100%;
    left: 0;
}
#icon {
    border-radius: 50%;
    height: 55px;
    box-shadow: 0 0 5px 1px #000;
    transition: 0.3s;
}
#icon:hover {
    box-shadow: 0 0 5px 3px #000;
}
footer {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 75px;
    background-color: var(--header_bg_color);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #000;
}
::-webkit-scrollbar-track {
    background: linear-gradient(#5e6982 0%, #323d54 50%, #5e6982 100%);
}
mjx-container.MathJax {
    pointer-events: none;
}
@media screen and (max-width: 900px) {
    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 2%;
        top: 50%;
        transform: translate(-2%, -50%);
        z-index: 100000;
    }

    #nav-links {
        position: relative;
        flex-direction: column;
        background-color: #323d54;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        left: 0;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 0.75s ease-out;
    }

    #nav-links.open {
        clip-path: circle(1300px at 90% -10%);
        -webkit-clip-path: circle(1300px at 90% -10%);
        transition: all 0.75s ease-out;
        pointer-events: all;
    }

    #nav-links a {
        font-size: 2rem;
    }

    #icon {
        opacity: 0;
    }

    #nav-links li {
        opacity: 0;
    }

    #nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
        z-index: 5;
    }

    #nav-links li:nth-child(2) {
        transition: all 0.5s ease-in 0.4s;
        z-index: 5;
    }

    #nav-links li:nth-child(3) {
        transition: all 0.5s ease-in 0.6s;
        z-index: 5;
    }

    #icon.fading {
        transition: all 0.5s ease-in 0.8s;
        z-index: 5;
    }

    #nav-links li.fade {
        opacity: 1;
    }
    #icon.fading {
        opacity: 1;
    }

    #logotype {
        position: relative;
        left: 50%;
    }
}
