:root {
    --body_bg_color: #181d26;
    --header_bg_color: #323d54;
    --q_bg_color: #1a202c;
    --link_color: #23e8fa;
    --shadow: 0px 0px 20px 2px black;
    --text_color: #e3e3e3;
}
*,
*::after,
*::before {
    color: var(--text_color);
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg {
    font-size: x-large;
}

main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.question {
    position: relative;
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid var(--text_color);
}
.question span {
    position: absolute;
    right: 5%;
    font-size: 0.9rem;
    font-style: italic;
}
.question div {
    display: inline;
    padding: 10px;
    background-color: #fff4;
    border-radius: 2em;
    transition: 0.3s;
}
.question div:hover {
    color: #1e90ff;
    background-color: #fff2;
}
.question a {
    color: var(--link_color);
}
.question a:hover {
    text-decoration: underline;
}
.link_to_question {
    margin-left: 10px;
}
#q_text {
    text-align: left;
}
